<template>
  <div class="max-w-3xl">
    <h2 class="text-2xl font-bold">Help</h2>
    <h3 class="text-lg mt-5 mb-3 font-medium">Choosing Your Language</h3>
    <p>From the <a href="#" class="text-indigo-600">DhammaReg</a> Home menu, select My Settings and then choose the language you want. If you do not set a specific language here, the language setting of your browser will prevail.</p>
  </div>
</template>
