<template>
    <form action="#" method="POST">
      <div class="border overflow-hidden sm:rounded-md pb-10">
        <div class="grid grid-cols-12 gap-5">
          <div class="col-span-6 sm:p-10">
              <div class="grid grid-cols-6 gap-6">
                <div class="col-span-6">
                  <label for="first-name" class="block mb-2 text-sm font-medium text-red-500">Username</label>
                  <input type="text" name="first-name" id="first-name" autocomplete="given-name" class="mt-1 h-12 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                </div>

                <div class="col-span-6 md:col-span-3">
                  <label for="last-name" class="block mb-2 text-sm font-medium text-red-500">Full name</label>
                  <input type="text" name="last-name" id="last-name" autocomplete="family-name" class="mt-1 h-12 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                </div>

                <div class="col-span-6 md:col-span-3">
                  <label for="user-initials" class="block mb-2 text-sm font-medium text-red-500">User Initials</label>
                  <input type="text" id="user-initials" autocomplete="email" class="mt-1 h-12 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                </div>

                <div class="col-span-6">
                  <label for="email-address" class="block mb-2 text-sm font-medium text-gray-700">Email Address</label>
                  <input type="text" id="email-address" autocomplete="email" class="mt-1 h-12 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                </div>

                <div class="col-span-6">
                  <label for="country" class="block mb-2 text-sm font-medium text-gray-700">Default Location</label>
                  <select id="country" class="mt-1 mb-2 h-12 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                    <option>United States</option>
                    <option>Canada</option>
                    <option>Mexico</option>
                  </select>
                </div>

                <div class="col-span-6 sm:col-span-3">
                  <label for="password" class="block mb-2 text-sm font-medium text-gray-700">Change Password</label>
                  <input type="text" name="password" id="password" autocomplete="address-level1" class="mt-1 h-12 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                </div>

                <div class="col-span-6 sm:col-span-3">
                  <label for="password-confirmation" class="block mb-2 text-sm font-medium text-gray-700">Confirm Password</label>
                  <input type="text" name="password-confirmation" id="password-confirmation" autocomplete="postal-code" class="mt-1 h-12 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                </div>
              </div>
            </div>
          <div class="col-span-6 sm:p-10">
            <div class="col-span-6">
              <label for="language" class="block mb-2 text-sm font-medium text-gray-700">Interface Language</label>
              <select id="language" class="mt-1 mb-2 h-12 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                <option>English</option>
                <option>Amharic</option>
              </select>
            </div>

            <div class="flex items-start mt-5 col-span-3">
              <div class="flex items-center h-5">
                <input id="hints" name="comments" type="checkbox" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded">
              </div>
              <div class="ml-3 text-sm">
                <label for="hints" class="font-medium text-gray-700">No hints</label>
                <p class="text-gray-500">Show hints to the user</p>
              </div>
            </div>

            <div class="flex items-start mt-5 col-span-3">
              <div class="flex items-center h-5">
                <input id="wide-screen-layout" name="comments" type="checkbox" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded">
              </div>
              <div class="ml-3 text-sm">
                <label for="wide-screen-layout" class="font-medium text-gray-700">Wide Screen Layout</label>
                <p class="text-gray-500">Configure the screen size</p>
              </div>
            </div>

            <div class="flex items-start mt-5 col-span-3">
              <div class="flex items-center h-5">
                <input id="receive-review-emails" name="comments" type="checkbox" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded">
              </div>
              <div class="ml-3 text-sm">
                <label for="receive-review-emails" class="font-medium text-gray-700">Receive Review Emails</label>
                <p class="text-gray-500"></p>
              </div>
            </div>
          </div>
        </div>
        <div class="px-5 space-x-5 sm:px-10">
          <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            Save
          </button>
          <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-red-500 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            Cancel
          </button>
          <a href="#" class="inline-flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-gray-700 underline hover:bg-indigo-700 hover:text-white">
            History
          </a>
        </div>
      </div>
    </form>
</template>
