<template>
  <div>
    <h2 class="text-2xl font-bold">Welcome Merhawi</h2>
    <h3 class="text-lg mt-5 font-medium">Resources:</h3>
    <ul class="mt-3 max-w-3xl space-y-4">
      <li>New users should review <a href="#" class="text-indigo-600">DhammaReg Help.</a></li>
      <li>All DhammaReg users are encouraged to install and use a <a href="#" class="text-indigo-600">Secure Password Manager.</a></li>
      <li>The <a href="#" class="text-indigo-600">Registration Manual</a> is available from "User Manual" selection of the "Home" menu. If you don't have your own login, use 'registrar' with the normal old-student password.</li>
      <li>For help, to report a problem, or to make a suggestion, click the "Support" button in upper-right corner of every page.</li>
      <li>Please email <a href="#" class="text-indigo-600">users-subscribe@dhammareg.dhamma.org</a> to join the DhammaReg users email list. The purpose is to be kept informed about new features and system availability. Send a blank email by clicking link above, or copy/paste the address into your email client; then reply to the automated confirmation email. Note: the subject-line and body of the email may be blank.</li>
    </ul>
  </div>
</template>
