<script setup>
import {ref} from "vue";
import {useRouter} from 'vue-router'
const menuItems = [
  { label: 'Dashboard', subs: [
      { label: 'Welcome', routeName: 'dashboard-home-welcome' },
      { label: 'My Settings', routeName: 'dashboard-home-settings'},
      { label: 'Help', routeName: 'dashboard-home-help'},
      { label: 'Password Managers', routeName: 'dashboard-home-password-managers'},
      // { label: 'User Manual' },
      // { label: 'Confidentiality Agreement is this thing' },
      // { label: 'About DhammaReg' },
      // { label: 'Log Off' },
    ]
  },
  { label: 'Applications', subs: [
      { label: 'Review', routeName: 'dashboard-application-review' },
      // { label: 'Settings' },
    ]
  },
  { label: 'Enrollments' },
  { label: 'Emails' },
  { label: 'Students' },
  { label: 'Reports' },
  { label: 'Letters' },
  { label: 'Teachers' },
  { label: 'Setup' },
  { label: 'Security' },
  { label: 'Settings', routeName: 'dashboard-settings' },
]

const selectedMenuItemIndex = ref(-1)
const closeSidebar = ref(true)
const router = useRouter()

router.beforeEach(() => {
  closeSidebar.value = true
})

function mainMenuClick(e, menuItem, index) {
  if(menuItem.routeName) {
    e.preventDefault()
    selectedMenuItemIndex.value = index
    router.push({ name: menuItem.routeName })
  } else {
    if(selectedMenuItemIndex.value === index) selectedMenuItemIndex.value = -1
    else selectedMenuItemIndex.value = index
  }
}
</script>

<template>
  <a href="#" @click.prevent="closeSidebar = false" class="absolute inline-block top-10 left-10 text-gray-700 bg-white rounded p-3 border">
    <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
    </svg>
  </a>
  <div class="md:w-56 h-full bg-gray-100 fixed" :class="{ 'w-0': closeSidebar, 'w-full': !closeSidebar }">
    <div class="relative h-full overflow-x-hidden overflow-y-auto py-5">
      <a href="#" @click="closeSidebar = true" class="absolute inline-block md:hidden top-10 right-10 text-gray-700">
        <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" fill="currentColor" class="bi bi-x-square-fill" viewBox="0 0 16 16">
          <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708z"/>
        </svg>
      </a>
      <a href="#" class="flex items-center px-7">
        <span class="w-14 inline-block overflow-hidden">
          <img src="/logo.webp" class="object-cover" alt="Dhamma Logo">
        </span>
        <h1 class="inline-block ml-5 font-bold text-xl text-gray-800">Dhamma Ethiopia</h1>
      </a>

      <ul class="mt-10 mx-3 text-sm">
        <li v-for="(menu, index) in menuItems">
          <a href="#" @click="(e) => mainMenuClick(e, menu, index)"
             class="inline-block px-5 w-full py-3 rounded transition-all font-bold whitespace-nowrap overflow-hidden overflow-ellipsis"
          :class="{ 'bg-gray-300': index === selectedMenuItemIndex }">
            {{ menu.label }}
          </a>

          <ul class="submenu" :class="selectedMenuItemIndex === index ? '' : 'hidden'">
            <li v-for="submenu in menu.subs">
              <router-link :to="{ name: submenu.routeName }" class="hover:bg-gray-300 hover:text-gray-700 inline-block px-5 py-3 w-full rounded whitespace-nowrap overflow-hidden overflow-ellipsis transition-all">
                {{ submenu.label }}
              </router-link>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</template>

<style>
.submenu .router-link-exact-active {
  @apply bg-gray-600;
  @apply text-white;
  @apply font-medium;
}
</style>
