<template>
  <form @submit.prevent="login" class="flex flex-col h-full items-center justify-center">
    <div class="w-96 mb-5">
        <label for="email-address" class="block mb-2 text-sm font-medium text-gray-700">Email Address</label>
        <input type="text" v-model="email" id="email-address" autocomplete="email" class="mt-1 h-12 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded">
    </div>

    <div class="w-96 mb-5">
        <label for="password" class="block mb-2 text-sm font-medium text-gray-700">Password</label>
        <input type="password" v-model="password" id="password" autocomplete="password" class="mt-1 h-12 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded">
    </div>

    <button type="submit" class="bg-indigo-600 rounded text-white py-3 px-10">Sign in</button>
  </form>
</template>

<script setup>
import axios from 'axios'
import _get from 'lodash.get'
import {ref} from 'vue'
import {useStore} from 'vuex'

const store = useStore()
const email = ref('')
const password = ref('')

const login = async () => {
  try {
    const response = await axios.post('/api/v1/auth/login', {
      email: email.value, password: password.value
    })
    const token = _get(response, 'data.token', null)
    if(token) localStorage.setItem('dhamma_token', token)
    location.reload()
  } catch(ex) {
    alert(ex)
  }
}
</script>
